html
    head
        title Add Book
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(rel="stylesheet", href="/add.css")
    body
        div.navbar
            div.logo 
                a(href="/app") Book Hero
            div.search-bar
                i.fas.fa-search
                input.search(type="text", placeholder="Search...")
            ul
                li
                    a(href="/app/add") Add Book
                li
                    a(href="/app/profile") Profile
        hr
        div.wrapper
            div.addform
                form(onsubmit="search()")
                    input.addsearch(name="q", type="text", placeholder="Search for books to add")
                    button.add(type="submit") Search
            div.results
                each val, index in results
                    div.book
                        h3= val.best_book[0].title
                        h4= val.best_book[0].author[0].name
                        img(src=val.best_book[0].image_url, alt="")
        script.
            function search(e){
                e.preventDefault();
                var input = document.querySelector("input.addsearch");
                var q = input.value;
                window.location = "/app/search?q="+q+"&page=1";
            }
