html
    head
        title Book Hero
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(rel="stylesheet", href="/home.css")
    body
        div.navbar
            div.logo 
                a(href="/app") Book Hero
            div.search-bar
                i.fas.fa-search
                form(onsubmit="return find()")
                    input.search(type="text", placeholder="Search...")
            ul
                li
                    a(href="/app/add") Add Book
                li
                    a(href="/app/profile") Profile
        hr
        div.wrapper
            if books
                each val in books
                    div.book
                        img.bookimg(src=val.imgURL, alt="")
                        div.info
                            h3= val.title
                            br
                            h4= val.author
        script.
            function find(){
                var input = document.querySelector(".search");
                var q = input.value;
                window.location = "/app/find?q="+q+"&radius=100";
                return false;
            }

                    